
body{
    background-color: blanchedalmond;
    
}

.zanr{
    text-align: center;
    text-decoration: underline;
    font-family: monospace;
    font-size: 40pt;
    text-transform: uppercase;
    
}

h1{
    font-weight: bold;
    font-size: 35pt;
    
}

h2{
    text-align: center;
    font-size: 40pt;
    
}

a{
    color: chartreuse;
}

.name{
    font-weight: bold;
}

.autor, .zdroj{
    font-size: 30pt;
}

p{
    padding-top:0px;
    margin: 0px;
    font-size: 20pt;
}

.text{
    margin-top: 50px;
    line-height: 25px;
    
    
}

#uvod{
    margin-top:200px;
   
    
}


#em{
    color: aqua;
    text-justify: trim;
}


footer{
    
    text-align: center;
    font-size: 35pt;
    margin-bottom: 50px;
    animation-name: ahoj;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    background-image: url(baba.jpg);
}

@keyframes ahoj{
    0% {color: yellow; font-size: 0pt; }
    20% {color: red;}
    40% {color: deeppink;}
    60% {color: greenyellow; font-size:450PT}
    80% {color: blue;}
    100% {color: white; font-size: 0pt;}
}
